In [2]:
# import libraries needed
import numpy as np
import pandas as pd

# Assignment 1: Series Basics

The code has been previded to create an array, `oil_array` from a dataframe column. 

* Convert `oil_array` into a Pandas Series, called `oil_series`. Give it a name!
* Return the name, dtype, size, and index of `oil_series`.

Take the mean of the values array. 

Then, convert the series to integer datatype and recalculate the mean.

In [10]:
# create a DataFrame from the oil file, drop missing values
oil = pd.read_csv("../../retail/oil.csv").dropna()

# Grab 100 rows of oil prices
oil_array = np.array(oil["dcoilwtico"].iloc[1000:1100])

oil_array

array([52.22, 51.44, 51.98, 52.01, 52.82, 54.01, 53.8 , 53.75, 52.36,
       53.26, 53.77, 53.98, 51.95, 50.82, 52.19, 53.01, 52.36, 52.45,
       51.12, 51.39, 52.33, 52.77, 52.38, 52.14, 53.24, 53.18, 52.63,
       52.75, 53.9 , 53.55, 53.81, 53.01, 52.19, 52.37, 52.99, 53.84,
       52.96, 53.21, 53.11, 53.41, 53.41, 54.02, 53.61, 54.48, 53.99,
       54.04, 54.  , 53.82, 52.63, 53.33, 53.19, 52.68, 49.83, 48.75,
       48.05, 47.95, 47.24, 48.34, 48.3 , 48.34, 47.79, 47.02, 47.29,
       47.  , 47.3 , 47.02, 48.36, 49.47, 50.3 , 50.54, 50.25, 50.99,
       51.14, 51.69, 52.25, 53.06, 53.38, 53.12, 53.19, 52.62, 52.46,
       50.49, 50.26, 49.64, 48.9 , 49.22, 49.22, 48.96, 49.31, 48.83,
       47.65, 47.79, 45.55, 46.23, 46.46, 45.84, 47.28, 47.81, 47.83,
       48.86])

In [12]:
oil_series = pd.Series(oil_array, name = "OilSeries")
print(f"Name: {oil_series.name}")
print(f"Data Tyepe: {oil_series.dtype}")
print(f"Size: {oil_series.size}")
print(f"Index: {oil_series.index}")

Name: OilSeries
Data Tyepe: float64
Size: 100
Index: RangeIndex(start=0, stop=100, step=1)

In [14]:
oil_series.values.mean()

51.128299999999996

In [16]:
oil_series.astype('int').values.mean()

50.66

In [18]:
oil_series.mean()

51.128299999999996

In [ ]:
### don't need to explicitly call the values array

# Assignment 2:  Accessing Series Data

* Set the date series, which has been created below, to be the index of the oil price series created in assignment 1.


* Then, take the mean of the first 10 and last 10 prices of the series.


* Finally, grab all oil prices from January 1st, 2017 - January 7th, 2017 (inclusive) and set the index to the default integer index.

In [20]:
# extract date column from oil DataFrame and grab first 100 rows

dates = pd.Series(oil["date"]).iloc[1000:1100]

In [24]:
oil_series.index = dates

In [26]:
oil_series

date
2016-12-20    52.22
2016-12-21    51.44
2016-12-22    51.98
2016-12-23    52.01
2016-12-27    52.82
              ...
2017-05-09    45.84
2017-05-10    47.28
2017-05-11    47.81
2017-05-12    47.83
2017-05-15    48.86
Name: OilSeries, Length: 100, dtype: float64

In [30]:
oil_series.iloc[:10].mean()

52.765

In [48]:
oil_series.iloc[-10:].mean()

47.13

In [46]:
oil_series.loc["2017-01-01":"2017-01-07"].reset_index(drop=True)

0    52.36
1    53.26
2    53.77
3    53.98
Name: OilSeries, dtype: float64

# Assignment 3: Sorting and Filtering Series

* First, get the 10 lowest prices from the data. 
* Sort the 10 lowest prices by date, starting with the most recent and ending with the oldest price.

* Finally, use the list of provided dates. Select only rows with these dates that had a price of less than 50 dollars per barrel.

In [50]:
# list of dates to be used to solve bullet 3

dates = [
    "2016-12-22",
    "2017-05-03",
    "2017-01-06",
    "2017-03-05",
    "2017-02-12",
    "2017-03-21",
    "2017-04-14",
    "2017-04-15",
]

In [54]:
oil_series.sort_values().iloc[:10].sort_index(ascending=False)

date
2017-05-10    47.28
2017-05-09    45.84
2017-05-08    46.46
2017-05-05    46.23
2017-05-04    45.55
2017-03-27    47.02
2017-03-23    47.00
2017-03-22    47.29
2017-03-21    47.02
2017-03-14    47.24
Name: OilSeries, dtype: float64

In [60]:
mask = oil_series.index.isin(dates) & (oil_series < 50)
oil_series.loc[mask]

date
2017-03-21    47.02
2017-05-03    47.79
Name: OilSeries, dtype: float64


# Assignment 4: Series Operations

* Increase the prices in the oil series by 10%, and add an additional 2 dollars per barrel on top of that.

* Then, create a series that represents the difference between each price and max price.

* Finally, extract the month from the string dates in the index and store them as an integer in their own series.

In [62]:
oil_series = oil_series * 1.1 + 2

In [64]:
max = oil_series.max()

In [68]:
max_diff = max - oil_series #broadcasting

In [70]:
max_diff

date
2016-12-20    2.486
2016-12-21    3.344
2016-12-22    2.750
2016-12-23    2.717
2016-12-27    1.826
              ...
2017-05-09    9.504
2017-05-10    7.920
2017-05-11    7.337
2017-05-12    7.315
2017-05-15    6.182
Name: OilSeries, Length: 100, dtype: float64

In [94]:
months = oil_series.index.str[5:7].astype("int")
pd.Series(months)

0     12
1     12
2     12
3     12
4     12
      ..
95     5
96     5
97     5
98     5
99     5
Name: date, Length: 100, dtype: int32

In [78]:
oil_series.index

Index(['2016-12-20', '2016-12-21', '2016-12-22', '2016-12-23', '2016-12-27',
       '2016-12-28', '2016-12-29', '2016-12-30', '2017-01-03', '2017-01-04',
       '2017-01-05', '2017-01-06', '2017-01-09', '2017-01-10', '2017-01-11',
       '2017-01-12', '2017-01-13', '2017-01-17', '2017-01-18', '2017-01-19',
       '2017-01-20', '2017-01-23', '2017-01-24', '2017-01-25', '2017-01-26',
       '2017-01-27', '2017-01-30', '2017-01-31', '2017-02-01', '2017-02-02',
       '2017-02-03', '2017-02-06', '2017-02-07', '2017-02-08', '2017-02-09',
       '2017-02-10', '2017-02-13', '2017-02-14', '2017-02-15', '2017-02-16',
       '2017-02-17', '2017-02-21', '2017-02-22', '2017-02-23', '2017-02-24',
       '2017-02-27', '2017-02-28', '2017-03-01', '2017-03-02', '2017-03-03',
       '2017-03-06', '2017-03-07', '2017-03-08', '2017-03-09', '2017-03-10',
       '2017-03-13', '2017-03-14', '2017-03-15', '2017-03-16', '2017-03-17',
       '2017-03-20', '2017-03-21', '2017-03-22', '2017-03-23', '2017-03-24',
       '2017-03-27', '2017-03-28', '2017-03-29', '2017-03-30', '2017-03-31',
       '2017-04-03', '2017-04-04', '2017-04-05', '2017-04-06', '2017-04-07',
       '2017-04-10', '2017-04-11', '2017-04-12', '2017-04-13', '2017-04-17',
       '2017-04-18', '2017-04-19', '2017-04-20', '2017-04-21', '2017-04-24',
       '2017-04-25', '2017-04-26', '2017-04-27', '2017-04-28', '2017-05-01',
       '2017-05-02', '2017-05-03', '2017-05-04', '2017-05-05', '2017-05-08',
       '2017-05-09', '2017-05-10', '2017-05-11', '2017-05-12', '2017-05-15'],
      dtype='object', name='date')

# Assignment 5: Series Aggregations

* Calculate the sum and mean of prices in the month of March. 

* Next, calculate how many prices were recorded in January and February.

* Then, calculate the 10th and 90th percentiles across all data.

* Finally, how often did integer dollar value (e.g. 51, 52) occur in the data? Normalize this to a percentage.

In [102]:
oil_series[oil_series.index.str[5:7] == "03"].sum()

1293.994

In [106]:
oil_series[oil_series.index.str[5:7].isin(["01", "02"])].nunique()

35

In [108]:
oil_series.quantile([0.1, 0.9])

0.1    54.0289
0.9    61.1921
Name: OilSeries, dtype: float64

In [118]:
oil_series.astype("int").value_counts()

OilSeries
60    22
59    19
61    14
54    10
55     9
58     6
57     6
56     6
53     5
52     3
Name: count, dtype: int64

# Assignment 6: Missing Data

There were some erroneous prices in our data, so they were filled in with missing values.

Can you confirm the number of missing values in the price column? 

Once you’ve done that, fill the prices in with the median of the oil price series.

In [128]:
oil_series

date
2016-12-20    59.442
2016-12-21    58.584
2016-12-22    59.178
2016-12-23    59.211
2016-12-27    60.102
               ...
2017-05-09    52.424
2017-05-10    54.008
2017-05-11    54.591
2017-05-12    54.613
2017-05-15    55.746
Name: OilSeries, Length: 100, dtype: float64

In [134]:
# Fill in two values with missing data

oil_series = oil_series.where(~oil_series.isin([54.613, 55.746]), pd.NA)

In [136]:
oil_series.isna().sum()

2

In [138]:
oil_series.fillna(oil_series.median())

date
2016-12-20    59.4420
2016-12-21    58.5840
2016-12-22    59.1780
2016-12-23    59.2110
2016-12-27    60.1020
               ...
2017-05-09    52.4240
2017-05-10    54.0080
2017-05-11    54.5910
2017-05-12    59.4255
2017-05-15    59.4255
Name: OilSeries, Length: 100, dtype: float64

# Exercise 7: Apply and Where

Write a function that outputs ‘buy’ if price is less than the 90th percentile and ‘wait’ if it’s not. Apply it to the oil series.

Then, create a series that multiplies price by .9 if the date is ‘2016-12-23’ or ‘2017-05-10’, and 1.1 for all other dates.